doctype html
html
  head
    title Write it Social - Le reseau social accessible à tous - Inscription
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='jsUiBase.css')
  body
    section#banner
      .row
        .col-md-12.text-center.contentApropos
          h1| À propos
          p| Bonjour,
           | Afin d'obtenir le diplôme de niveau II de développeur Javascript Fullstack.J'ai développé un réseau social en Jade / CSS , bootstrap, Node JS, Express JS, méthode Ajax ( Jquery), Socket.io,  Node Mailer.
           | Ma formation, renforcée par ma mission de fin d'études, m'a permis d'acquérir et de développer toutes les techniques et méthodes de conception et de développement. J'ai ainsi participé au développement de plusieurs projets web, dans lesquels j'étais en charge de la partie technique, et notamment de la rédaction des lignes de codes nécessaires à la création d'un produit.
    section#footer
      #containerIndex
        .row
          #footer-wrapper
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
              a(href='index',alt='Home')
                img#logoFooter(src='logo-footer.png')
              ul.socialList
                li
                  a(href='https://www.facebook.com/AdrienDeveloper/',alt='Facebook')
                    i.iconSocialFooter.fi-social-facebook
                li
                  a(href='https://twitter.com/AdrienDeveloper',alt='Twitter')
                    i.iconSocialFooter.fi-social-twitter
                li
                  a(href='https://github.com/Adrien-Leteinturier',alt='Github')
                    i.iconSocialFooter.fi-social-github
                li
                  a(href='https://www.linkedin.com/in/adrien-leteinturier/',alt='Linkedin')
                    i.iconSocialFooter.fi-social-linkedin  
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
              ul.links-footer
                li
                  a(href='#',alt='Inscription')|Inscription
                li
                  a(href='#',alt='Inscription')|À propos
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              ul.contact-footer.text-center
                li
                  i.icon-contact.fi-mobile
                  p.phone| 06-18-33-96-13
                li
                  i.icon-contact.fi-mail
                  p.mail| adrienleteinturier@gmail.com    
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js')
    script(src='http://code.jquery.com/ui/1.12.0/jquery-ui.min.js', integrity='sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')   
    script(type='text/javascript', src='socket.io.js')
    script(type='text/javascript', src='socketClient.js')

    