doctype html
html
  head
    title Adrien Leteinturier - Le blog DiwJS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='jsUiBase.css')
  body
    section#head.row
      .col-lg-4.col-md-12.col-sm-12.col-xs-12
        .Hitem1
          a(href='/',title='Home')
            h1  Adrien Leteinturier - Le blog DiwJS 
        if(pseudo)
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              span.login= 'Bonjour' + ' ' + pseudo
            section.test.col-lg-6.col-md-6.col-sm-6.col-xs-6
              a(href='/creation',title='Création d\'un article')
                i.fi-plus
              a(href='/profil',title='Votre profil')  
                i.fi-torso
                i.fi-comment
              a(href='/deconnection',title='Déconnexion')
                i.fi-x
      if(!pseudo)           
        .col-lg-4.col-md-12.col-sm-12.col-xs-12
          .Hitem3
            i.spriteLogo.sprite-login
      if(pseudo)
        .col-lg-4.col-md-12.col-sm-12.col-xs-12
          .Hitem3.text-center
            img#imgPro(src='/' + srcfile)
      .col-lg-4.col-md-12.col-sm-12.col-xs-12    
        if(pseudo)
          #adv-search.input-group.searchBar
            input.form-control(type='text', placeholder='Search for snippets')
            .input-group-btn
              .btn-group(role='group')
                button.btn.btn-primary(type='button')
                  span.glyphicon.glyphicon-search(aria-hidden='true')    
        div#usersLiveCount
        div#usersCountLog
        div#postItsCountLog   
    h2.titreNew Création d'un article
    section#FormCrea.row
      .col-lg-offset-4.col-lg-4.col-md-offset-4.col-md-4.col-sm-offset-4.col-sm-4.col-xs-12
        form#creaArticle(method='POST',action='/creation',enctype='multipart/form-data')
          label Titre du Post-it
          input#titre(type='text',name='titre')
          label Corps du Post-it
          textarea#corpsArticle(type='textarea',name='corpsArticle')
          label Photo du Post-it
          input#photoArticle(type='file',name='recfile',multiple accept='image/*')
          label Lien d'une photo
          input#lienPhotoPost(type='text',name='url')
          input#logIn.spriteSubmit.sprite-creation(type='image', value='')
    #dialogTitlePostIt.dialogTitle(title='Erreur !!!')
      p Veuillez renseignez un titre    
    #dialogCorpsPostIt.dialogArea(title='Erreur !!!')
      p Veuillez renseignez un texte
    #dialogPhotoArt.dialogPicArt(title='Erreur !!!')
      p Veuillez choisir une image
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='http://code.jquery.com/ui/1.12.0/jquery-ui.min.js', integrity='sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')    
    script(type='text/javascript', src='socket.io.js')
    script(type='text/javascript', src='socketClient.js')    
    script(src='valid_form.js')           

  