doctype html
html
  head
    title Write it Social - Le reseaux social accessible à tous - Inscription
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='jsUiBase.css')
  body
    section#banner
      #containerIndex.row
        .col-sm-12.col-xs-12
            form#loginForm(role='form' method='POST',action='/inscription', enctype='multipart/form-data' data-toggle='validator')
              .form-group
                label Genre
                br      
                select(name='genre')
                  option
                    | -- Selectionner -- 
                  option
                    | Homme
                  option
                    | Femme
              .form-group
                label Age
                br
                input#age(type='text',name='age', maxlength='2')
              .form-group  
                label Prénom
                input#prenom(type='text',name='prenom')
              .form-group  
                label Nom         
                input#nom(type='text',name='nom')
              .form-group  
                label E-mail         
                input#email(type='email',name='email')
              .from-group  
                label Photo de profil
                input#file(type='file',name='recfile', multiple accept='image/*')
              .form-group  
                label Présentation
                textarea#presentation(name='present', maxlenght='140')          
                p#infoBulle=message
              .form-group  
                label Pseudo        
                input#pseudo(type='text',name='pseudo') 
              .form-group    
                label Mot de passe     
                input#password(type='password',name='password')
              .text-center
                button.button-inscription
                  i.fi-check.icon-inscription
                  img.formShadow(src='bottom-shadow.png')
    section#footer
      #containerIndex
        .row
          #footer-wrapper
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
              a(href='index',alt='Home')
                img#logoFooter(src='logo-footer.png')
              ul.socialList
                li
                  a(href='#',alt='Facebook')
                    i.iconSocialFooter.fi-social-facebook
                li
                  a(href='#',alt='Twitter')
                    i.iconSocialFooter.fi-social-twitter
                li
                  a(href='#',alt='Github')
                    i.iconSocialFooter.fi-social-github
                li
                  a(href='#',alt='Linkedin')
                    i.iconSocialFooter.fi-social-linkedin  
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
              ul.links-footer
                li
                  a(href='#',alt='Inscription')|Inscription
                li
                  a(href='#',alt='Inscription')|À propos
                li
                  a(href='#',alt='Inscription')|Mentions légales 
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              ul.contact-footer.text-center
                li
                  i.icon-contact.fi-mobile
                  p.phone| 06-18-33-96-13
                li
                  i.icon-contact.fi-mail
                  p.mail| adrienleteinturier@gmail.com    
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js')
    script(src='http://code.jquery.com/ui/1.12.0/jquery-ui.min.js', integrity='sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')   
    script(type='text/javascript', src='socket.io.js')
    script(type='text/javascript', src='socketClient.js')
    script(type='text/javascript', src='valid_form.js')
    script(type='text/javascript', src='notify.min.js')
    